:root {
    --bg-color: #f5f4f0;
    --border-color: #d9d9d9;
    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertary: #696969;
    --text-headline: #e1624f;
    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --acent-pink: #e5245e;
    --acent-purple: #591b98;
}

.c-blue {
    color: var(--accent-blue);
}

.c-orange {
    color: var(--accent-orange);
}

.c-pink {
    color: var(--acent-pink);
}

.c-purple {
    color: var(--acent-purple);
}
