:root {
    --bg-color: #F5F4F0;
    --border-color: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertary: #696969;
    --text-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --acent-pink: #E5245E;
    --acent-purple: #591B98;
}